.sheet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.avatar {
  width: 30%;
  margin-bottom: 32px !important;
}
.character {
  display: flex;
  justify-content: space-evenly;
}
.inventory {
  width: 56%;
}
.stats {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 20rem;
}
.stats > svg {
  width: 100%;
}
